// AboutUs component styling
.about-us-page {
  margin: 3rem auto;
  font-size: 0.7em;
  width: 90vw;
  h4 {
    margin: 0;
  }
  p {
    margin: 0;
    span {
      text-decoration: underline;
      color: rgb(138, 173, 207);
    }
  }
  .img-wrapper {
    max-width: 60vw;
    margin: 2rem auto;
    img {
      width: 100%;
    }
  }
  ul {
    padding-left: 1rem;
    font-weight: 500;
  }
}
