// Button component styling
button {
  color: white;
  height: 2.3rem;
  width: 7rem;
  font-size: 0.9em;
  background-color: rgb(32, 111, 173);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}
