// ContactUs & Form components
.contact-us-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem auto;
  width: 80vw;
  font-size: 0.8em;
  .title-form {
    margin-right: 1rem;
    form {
      display: flex;
      flex-direction: column;
      > * {
        input,
        label {
          display: block;
          width: 95%;
          margin: 0.5rem 0;
        }
        input {
          height: 2.5rem;
          border-radius: 3px;
          background-color: rgb(247, 248, 252);
          border: 1px solid rgb(236, 235, 235);
          padding: 10px;
        }
      }
      .name-email-wrapper {
        display: flex;
        justify-content: space-between;
        input {
          width: 90%;
        }
      }
      .phone-01,
      .phone-02 {
        span {
          font-style: italic;
          opacity: 0.5;
        }
      }
      button {
        width: 95%;
        margin: 0.5rem 0;
        color: rgb(53, 121, 178);
        background-color: rgb(235, 246, 254);
      }
      .message {
        div {
          display: flex;
          justify-content: space-between;
          width: 95%;
          small {
            opacity: 0.5;
          }
        }
        textarea {
          width: 95%;
          height: 8rem;
          resize: none;
          border-radius: 3px;
          background-color: rgb(247, 248, 252);
          border: 1px solid rgb(236, 235, 235);
        }
      }
      .add-radio-btn {
        display: flex;
        align-items: center;
        input {
          width: 5%;
        }
      }
      .address {
        margin-bottom: 0.5rem;
        > * {
          input {
            width: 100%;
          }
        }
      }
      .submit-wrapper {
        position: relative;
        img {
          position: absolute;
          top: 50%;
          left: 2%;
          height: 15px;
          transform: translate(0, -50%);
        }
        .submit {
          width: 95%;
          color: white;
          height: 2.3rem;
          font-size: 0.9em;
          background-color: rgb(32, 111, 173);
          border: none;
          border-radius: 2px;
          font-weight: bold;
        }
      }
      // failed-submit div is conditionally rendered
      .validated-wrapper,
      .failed-submit {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 95%;
        margin: 20px 0;
        font-weight: bold;
      }
      .validated-wrapper {
        background-color: rgb(32, 111, 173);
        .icon-valid {
          border-radius: 2px;
          height: 22px;
          margin-right: 5px;
        }
      }
      .failed-submit {
        background-color: rgb(243, 91, 98);
      }
    }
  }
  .contact-img-wrapper {
    max-width: 700px;
    height: calc(100vh - 140px);
    img {
      height: 100%;
      width: 100%;
    }
  }
  // active class to conditionally highlight the inputs that need to be filled
  .active {
    outline: 2px solid rgb(243, 91, 98);
  }
}
